form {
    background-color: rgb(245, 164, 14);
    width: 500px;
    margin-left: 30px;
    margin-top: 20px;
    height: 500px;
}

.mb-3 {
    width: 300px;
    margin-left: 100px;
    margin-top: 100px;
}

.btn {
    margin-left: 100px;
}

.carousel {
    width: 800px;
    margin-left: 540px;
    margin-top: -500px;
}

.carousel-inner {
    height: 500px;
}

.carousel-caption {
    height: 50%;
    margin-top: 50px;
}

.carousel-caption p h5 {
    color: #fff;
}

@media only screen and(max-width: 776px) {
    .carousel {
        margin-left: 100px;
        margin-top: 100px;
    }
    .d-md-block p h5 {
        width: 100px;
    }
}